* {
    margin: 0;
    padding: 0;
	list-style: none;
	border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    float: left;
    color: black;
    font-size: 100%;
}

body {
    width: 1400px;
    background-color: #282828;
    padding-left: 250px;
    z-index: 1000;
    text-align: center;
}

header {
    width: 100%;
    height: 140px;
    background: #e8ebf1;
    z-index: 2;
}

.logo {
    margin: 50px 0 0 200px;
}

.first-list {
    text-transform: uppercase;
    margin: 50px 0 0 40px;
    padding: 10px;
    padding-top: 7px;
	font-size: 13px;
}

.first-list:hover {
    border-top: 5px solid #2aacc8;
    margin-top: 45px;
}

.first-list:first-child {
    margin-left: 210px;
}

.second-list {
    visibility: hidden;
    width: 80px;
    position: relative
}

.first-list:nth-child(3):hover,
.first-list:nth-child(4):hover {
    background: white;
    padding-bottom: 0;
    border-top: 5px solid #2aacc8;
    margin-top: 45px;
}

.second-list li {
    width: 195px;
    background: white;
    font-weight: normal;
    text-transform: capitalize;
    padding: 10px;
    margin-left: -10px;
    font-size: 13px;
    border-bottom: 1px solid #e7e7e7;
    z-index: 1;
	float: left;
	text-align: left;
}

.second-list a {
	font-weight: normal;
}

.second-list li:first-child {
    padding-top: 20px;
}

.second-list li:last-child {
    border-bottom: 5px solid #2aacc8;
    margin: 0;
    margin-left: -10px;
    padding-bottom: 20px;
}

.first-list:hover .second-list {
    visibility: visible;
}

.down {
    padding: 5px 7px;
}

content {
	margin-top: -5px;
	display: block;
	width: 100%;
	height: 1560px;
}

.top {
	display: block;
	height: 500px;
	width: 100%;
	background-color: #81e4ed;
}

.coffe {
	display: inline-block;
	text-align: center;
	padding: 20px 0 0 200px;
}

.d {
display: inline-block;
width: 15px; 
height: 15px;
background-color: #71a3a7;
border-radius: 50%;
position: relative;
margin: 0 0 0 7px;
top: 470px;
right: 543px;
}

.d:hover {
	background: white;
}

.d:first-child {
	margin-left: 650px;
}

.d:nth-child(4) {
	background: white;
}

.middle {
	display: inline-block;
	width: 100%;
	height: 300px;
	background-color: #e8ebf1;
	border-bottom: 1px solid #d9d9d9;
}

.rt {
	margin: 0 0 0 15px;
}

.cat {
	width: 225px;
	margin: 80px 30px 0 0;
}

.cat:first-child {
	margin-left: 200px;
}

.cat h1 {
	padding: 10px 0 0 0;
}

.cat p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	text-align: left;
	line-height: 20px;
	padding: 10px 0 0 0;
}

.cat a {
	text-decoration: none;
	border: none;
}

.right {
	padding: 4px;
}

.read {
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	color: #2aacc8;
	padding: 20px 0 0 0;
}

.foot {
	display: inline-block;
	height: 760px;
	width: 100%;
	background-color: white;
}

.work {
	width: 1000px;
	padding-top: 15px;
	border-bottom: 1px solid #dfe1e5;
	height: 40px;
	margin-left: 200px;
}

.lat {
	display: block;
	padding-left: 25px;
	margin-top: 5px;
	font-weight: bold;
}

.arrleft {
	margin: 0 0 0 800px;
}

.arright {
	margin: 0 0 0 10px;
}

.lat {
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 15px;
}

.pic {
	border-bottom: 1px solid #dfe1e5;
	height: 200px;
	width: 1000px;
	margin: 20px 0 0 200px;
}

.pic li {
	padding: 0 0 0 41px;
	width: 210px;
}

.pic li:first-child {
	padding-left: 0;
}

.tab {
	padding-left: 10px;
	position: relative;
}

.link {
	visibility: hidden;
	position: relative;
	padding: 0 20px 0 0;
	bottom: 80px;
	left: 0;
}

.tab:hover .link {
	visibility: visible;
}

.cl .test {
	width: 425px;
	padding: 20px 0 0 200px;
}

.test img {
	padding: 0 10px 0 0;
}

.test h1 {
	font-size: 15px;
	text-transform: uppercase;
}

.test p {
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	line-height: 24px;
	color: #363636;
}

.test .con {
	font-weight: bold;
	padding: 20px 0 0 0;
	font-style: italic;
}

.ocl {
	width: 580px;
	padding: 20px 0 0 90px;
}

.ocl .clients {
	padding: 0 10px 0 0;
}

.ocl h1 {
	padding :0 300px 20px 0;
}

.ocl .img {
	border: 0.5px solid #e8ebf1;
	height: 100px;
	width: 160px;
}

.dow {
	height: 140px;
	width: 1000px;
	border: 1px solid #81e4ed;
	margin-top: 25px;
	margin: 40px 0 0 200px;
	background: #e8fcfe;
}

.dow p {
	font-weight: normal;
	font-size: 16px;
	text-align: left;
	width: 610px;
	margin-left: 30px;
	margin-top: 34px;
	line-height: 26px;
}

.dow a {
	display: inline-block;
	font-family: Arial, sans-serif;
	background: url('img/background.png') no-repeat;
	font-size: 18px;
	display: block;
    color: #0d0707;
    font-size: 18px;
    font-weight: bold;
	height: 42px;
	float: right;
    margin: 8px 8px 0 0;
    padding: 22px 0 0 72px;
    width: 172px;
	text-transform: uppercase;
	border: none;
	padding-right: 30px;
	margin-top: 34px;
	text-align: left;
}

.dow:hover a {
	color: white;
}

.dow img {
	display: block;
	margin-left: -50px;
	margin-top: -5px;
}

footer {
	display: block;
	background: #e8ebf1;
    border-top: 1px solid #d9d9d9;
    clear: both;
    height: 320px;
    padding-top: 20px;
}

footer h1 {
	text-transform: uppercase;
}

footer a {
	text-transform: capitalize;
	text-decoration: none;
	color: #363636;
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;
}

footer p {
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-align: left;
}

.aus {
	width: 240px;
	margin: 0;
	padding: 0 0 0 200px;
}

.aus p {
	padding: 20px 0 0 0;
}

.explore {
	display: inline-block;
	width: 70px;
	text-align: left;
	padding-left: 70px;
}

.explore a:hover, .browse a:hover {
	color: #51b5ce;
}

.browse {
	width: 110px;
	padding-left: 75px;
	text-align: left;
}

.cus {
	width: 120px;
	text-align: left;
	padding-left: 70px;
}

.cus h2 {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #363636;
	padding-top: 10px;
}

.cus p:last-child {
	width: 140px;
	padding-top: 13px;
}

.connect {
	width: 210px;
	padding-left: 60px;
}

.connect img {
	margin-right: 7px;
}

.connect a {
	margin: 13px 0 0 0;
	padding: 0 10px 0 0;
}

.connect a:nth-child(2), .connect a:nth-child(5) {
	margin-left: -5px;
}

.final {
	display: block;
	width: 650px;
	font-size: 13px;
	height: 80px;
	text-align: left;
	font-weight: normal;
	line-height: 20px;
	color: #363636;
	position: relative;
	bottom: -70px;
	left: -250px;
}

.flogo {
	display: block;
	position: relative;
	bottom: -80px;
	right: 50px;
}
